body {
  background: royalblue;
  text-align: center;
}

.owl {
  font-family: fantasy

}

.unl {
  margin-right: 40px; 
}

.secret {
  opacity: .5;
  list-style-type: none;
}

 li{
  margin-right: 40px;
 }

  table {
    background: lightgrey;
    display:inline-block;
    text-align: center;
  }